h1.main-title {
  font-size: 46pt;
  color: #a32f01;
  margin-bottom: 1%;
}
.main-title {
  font-family: $heavy-stencil;
}
.sub-title {
  font-family: $label-maker;
  color: #2222cc;
  background-color: white;
  display: inline-block;
}
h2.sub-title {
  font-size: 24pt;
}
body {
  font-family: $normal-typewriter;
  -ms-word-wrap: break-word;
  word-wrap: break-word;

}

h1, h2, h3, h4 {
  font-family: $normal-marker;
  b, strong {
    font-family: $heavy-marker;
    font-weight: bolder;
  }
  margin-top: 0px;
  margion-bottom: 1%
}

.home-page-header {
  font-family: $adventure;
}

h1 {
  font-size: 46pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 26pt;
}

h4 {
  font-size: 16pt;
}

ul {
  list-style: none;
}
ul li {
  margin:0;
  padding:0;
}

ul li {
  padding-left:10px;
}

ul li::before {
  content: "* ";
}

ol ul li::before {
  content: "* ";
}

ul ol {
  list-style-type: decimal;
}
ol {
  list-style: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-alpha;
}
ul ol {
  list-style: decimal;
}
ul ol li:before {
  content: '';
}

ul ol ul li:before {
  content: '* ';
}


code {
  font-family: "notcouriersansbold", "Courier 10 Pitch", Courier, monospace;
  font-size: 16pt;
}



b, strong {
  font-weight: bolder;
  font-family: $bold-typewriter;
}

.sub-menu {
  font-family: $ball-point-pen;
  color: #0000cc;
  font-size: 14pt;
}

a {
  color: inherit;
  font-weight: bold;
}

// Not Exactly typeography, but it does impact "look" a lot - Should this go here or else where?
// The purpose of this pair is to give a look of note paper or note card taped to a page

.post-class-outer.sticky {
  background-image: url("backgrounds/tape4.png"), url("backgrounds/tape4.png");
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  padding-top: 25px;
  padding-bottom: 25px;


}

.post-class-inner.sticky {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-image: url("backgrounds/tape4.png"), url("backgrounds/tape4.png"),url("backgrounds/notecard.png"), ;
  background-repeat: no-repeat, no-repeat,repeat;
  // This lines the tape image on the card, up with the tape image on the back
  background-position: center -25px , center calc(100% + 25px) , top left;
  font-family: "rabioheadregular", "Bitstream Vera Sans Mono", "Lucida Sans Typewriter", "DejaVu Sans Mono", Consolas, "Andale Mono", "Lucida Console", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 18pt;

}

blockquote:before {
  content: '---';
}
blockquote:after {
  content: '---';
}

blockquote p {
  margin: 2px;
}

.category-description {
  font-family: $normal-marker;
  font-size: 20pt;
  color: #000044;
}

.category-row {
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  //top: -15px;
}

.category-row-even {
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  left: 10px;
  //top: -1px;
}

.category-container h2 {
  margin-bottom: 1%;
}

.a-tag {
  font-family: $stamp;
  font-size: 16pt;
}


.post-body {
  h2 {
    margin-top: 25px;
    font-family: $bold-typewriter;
    letter-spacing: 14px;
    text-transform: uppercase;
    :before, :after {
      content: ' * * * ';
    }
    font-size: 11pt;

  }
}

.post-body .post-class-outer {
  padding: 5%;
}
