@font-face {
    font-family: 'notcouriersansbold';
    src: url('fonts/NotCourierSans-Bold-webfont.eot');
    src: url('fonts/NotCourierSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NotCourierSans-Bold-webfont.woff') format('woff'),
         url('fonts/NotCourierSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/NotCourierSans-Bold-webfont.svg#notcouriersansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

