@font-face {
    font-family: 'boycottregular';
    src: url('fonts/BOYCOTT_-webfont.eot');
    src: url('fonts/BOYCOTT_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BOYCOTT_-webfont.woff') format('woff'),
         url('fonts/BOYCOTT_-webfont.ttf') format('truetype'),
         url('fonts/BOYCOTT_-webfont.svg#boycottregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

